___

Mr. Yogesh P Murumkar (Mob. 9657080906)

https://www.youtube.com/c/yogeshmurumkar
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
7**4

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [4]:
s = "Hi there Yogesh!"
s.split()

['Hi', 'there', 'Yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"
diameter = 12742

In [8]:
 "The diameter of {0} is {1} kilometers".format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

** Given this nested list, use indexing to grab the word "hello" **

In [15]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [20]:
lst[3][1][2]

['hello']

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [23]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',
                            {'target':[1,2,3,'hello']}]}]}

In [26]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [29]:
z = 'shwetakenjale6@gmail.com is my mail'
def fun1(z):
    if '.com' in z:
        s_index = z.find('@')
        e_index = z.find('.com')
        t = z[s_index + 1 : e_index + 4]
        return t

In [30]:
fun1('shwetakenjale6@gmail.com is my mail')

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [31]:
def findDog(t):
    if 'dog' in t.lower().split():
        return True
    else:
        return False

In [32]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [33]:
def countDog(a):
    x = a.lower().split()
    count = 0
    for z in x:
        if z == 'dog':
            count = count + 1
    print(count)

In [34]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [36]:
seq = ['soup','dog','salad','cat','great']

In [37]:
list(filter(lambda x: x[0] != 's' , seq))

['dog', 'cat', 'great']

In [ ]:
### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [43]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        if speed <= 65:
            return 'No Ticket'
        elif (66 <= speed <= 85):
            return 'Small Ticket'
        else:
            return 'Big Ticket'
    else:
        if speed <= 60:
            return 'No Ticket'
        elif (61 <= speed <= 80):
            return 'Small Ticket'
        else:
            return 'Big Ticket'

In [44]:
caught_speeding(81,True)

'Small Ticket'

In [49]:
caught_speeding(81,False)

'Big Ticket'

In [48]:
Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

SyntaxError: invalid decimal literal (1663754621.py, line 7)

In [47]:
def get_number(s):
    o = ''  
    i = 0

    if s[0] == '-':
        o += '-'  
        i = 1

    while i < len(s):  
        if s[i].isnumeric():
            o += s[i]  
        i += 1

    print(o)
get_number("-56dssd78")

-5678

In [ ]:
Q2
WAP to check whether a number is palindrome or not on following 
conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [55]:
n1=input("Enter the number:")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print("Number is:",n3)
    print("Reverse is:",n3[::-1])
print("Palindrome is:",n3)

Enter the number:88
Number is: 847
Reverse is: 748
Number is: 1595
Reverse is: 5951
Number is: 7546
Reverse is: 6457
Number is: 14003
Reverse is: 30041
Number is: 44044
Reverse is: 44044
Palindrome is: 44044

In [54]:
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

SyntaxError: invalid syntax (2774450109.py, line 1)

In [56]:
import random

def find_five_digit():
    t = random.randint(0, 9)
    
    s = t + 2
    a = s + 2
    c = t - 2
    d = c + 2
    
    if (a == t + c + d) and (a + s + t + c + d == 19):
        number = str(a) + str(s) + str(t) + str(c) + str(d)
        return int(number)  

result = find_five_digit()
print(f"The five-digit number meeting the conditions is: {result}")

The five-digit number meeting the conditions is: None

# Great job!